In [16]:
def intToRoman(self, num,res):
    
    roman = {
        "1000":"M",
        "500":"D",
        "100":"C",
        "50":"L",
        "10":"X",
        "5":"V",
        "1":"I"
    }
    numCopy = num
    
    ke = list(roman.keys())
    for index,val in enumerate(ke):
        if int(val) <= num:
            num = num -int(val)
            res = res + roman[val]
        print(f"num = ${num}")
        print(f"val = ${val}")
        for innerIndex,innerVal in enumerate(ke[index+1:]):
            temp = int(val) - int(innerVal)
            if temp == num:
                res = res + roman[innerVal] + roman[val] 
                num = num - temp
                return res
    
    
    if num!=0:
        return intToRoman("asdf",num,res)
    else:
        return res

In [22]:
def num2roman(num):
    num_map = [(1000, 'M'), (900, 'CM'), (500, 'D'), (400, 'CD'), (100, 'C'), (90, 'XC'),
           (50, 'L'), (40, 'XL'), (10, 'X'), (9, 'IX'), (5, 'V'), (4, 'IV'), (1, 'I')]

    roman = ''

    while num > 0:
        for i, r in num_map:
            while num >= i:
                roman += r
                num -= i

    return roman

In [28]:
def intToRoman(self, num):
    """
    :type num: int
    :rtype: str
    """
    num_1000=num//1000
    res=num%1000
    num_100=res//100
    res=res%100
    num_10=res//10
    num_1=res%10

    print(num_1000,num_100,num_10,num_1)

    #num_500=num_100//5
    #num_50=num_10//5
    #num_5=num_1//5

    #print(num_500,num_50,num_5)

    # 1
    if num_1<4:
        num_1_str="I"*num_1
    elif num_1>5 and num_1<9:
        num_1_str="V"+"I"*(num_1-5)
    elif num_1==4:
        num_1_str="IV"
    elif num_1==5:
        num_1_str="V"
    elif num_1==9:
        num_1_str="IX"        

    #10
    if num_10<4:
        num_10_str="X"*num_10
    elif num_10>5 and num_10<9:
        num_10_str="L"+"X"*(num_10-5)
    elif num_10==4:
        num_10_str="XL"
    elif num_10==5:
        num_10_str="L"
    elif num_10==9:
        num_10_str="XC" 

    #100        
    if num_100<4:
        num_100_str="C"*num_100
    elif num_100>5 and num_100<9:
        num_100_str="D"+"C"*(num_100-5)
    elif num_100==4:
        num_100_str="CD"
    elif num_100==5:
        num_100_str="D"
    elif num_100==9:
        num_100_str="CM"     

    #1000
    num_1000_str="M"*num_1000
    #if num_1000<4:
    #    num_1000_str="I"*num_1000
    #elif num_1000>5 and num_1000<9:
    #    num_1000_str="V"+"I"*(num_1000-5)
    #elif num_1000==4:
    #    num_1000_str="IV"
    #elif num_1000==5:
    #    num_1000_str="V"
    #elif num_1000==9:
    #    num_1000_str="IX" 

    return num_1000_str+num_100_str+num_10_str+num_1_str
    # pdb.set_trace()

In [36]:
intToRoman("bctx",4)

0 0 0 4

'IV'

In [25]:
num2roman(99)

'XCIX'

In [19]:
intToRoman("asdf",1994,"")

num = $2549
val = $1000
num = $2049
val = $500
num = $1949
val = $100
num = $1899
val = $50
num = $1889
val = $10
num = $1884
val = $5
num = $1883
val = $1
num = $883
val = $1000
num = $383
val = $500
num = $283
val = $100
num = $233
val = $50
num = $223
val = $10
num = $218
val = $5
num = $217
val = $1
num = $217
val = $1000
num = $217
val = $500
num = $117
val = $100
num = $67
val = $50
num = $57
val = $10
num = $52
val = $5
num = $51
val = $1
num = $51
val = $1000
num = $51
val = $500
num = $51
val = $100
num = $1
val = $50
num = $1
val = $10
num = $1
val = $5
num = $0
val = $1

'MDCLXVIMDCLXVICLXVILI'